@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
	--gold-color: #efc69b;
	--red-color: #af1b3f;
	--dark-color: #473144;
	/* --text-dark: #333;
	--text-light: #ebebeb; */
	--body-font: Arial, Helvetica, sans-serif;
	--headline-font: Lora, Impact, serif;
}

h1,
h2,
h3 {
	font-family: var(--headline-font);
}

h1 {
	text-align: center;
	font-size: 3em;
	color: var(--dark-color);
	padding: 20px 0;
}

h2 {
	color: var(--red-color);
	margin-top: 0;
}

nav {
	border-top: 2px solid var(--gold-color);
	border-bottom: 2px solid var(--gold-color);
}

nav ul {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: auto;
	max-width: 900px;
	margin: 20px auto;
	justify-content: end;
	justify-items: end;
	list-style: none;
	gap: 20px;
	padding-left: 0;
}

nav a {
	font-size: 1.2em;
	text-decoration: none;
	color: var(--red-color);
	font-family: var(--body-font);
	font-weight: 500;
}

.skiptocontent a {
	position: absolute;
	top: -40px;
	left: 0;
	background: var(--red-color, #af1b3f);
	color: white;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	z-index: 100;
	transition: top 0.3s ease-in-out;
}

.skiptocontent a:focus {
	top: 10px;
	outline: 2px solid white;
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	max-width: 900px;
	margin: 20px auto;
	min-height: 100vh;
}

#articles-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

#filters {
	border: solid;
	border-color: var(--gold-color);
	padding: 20px;
	color: var(--dark-color);
	font-family: var(--body-font);
}

.article-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.5em;
	padding: 0.5em;
	font-family: var(--body-font);
	color: var(--dark-color);
}

.details {
	font-size: 0.9em;
	color: var(--dark-color);
	text-align: end;
	font-family: var(--body-font);
	line-height: 1.4;
	border-right: solid var(--gold-color);
	padding-right: 1.5em;
	height: 100%;
	overflow-wrap: break-word;
	word-break: break-word;
	max-width: 100%;
}

.details p:first-child {
	font-size: 1.2em;
	margin-bottom: 0.3em;
}

.content {
	align-items: start;
}

.content img {
	border-radius: 5px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: var(--dark-color);
	color: white;
}
